<header class="py-6 bg-white shadow-sm">
  <div
    class="container mx-auto flex flex-wrap justify-between items-center px-4"
  >
    <a href="/" class="font-bold text-xl text-blue-700 tracking-tight"
      >TextTools</a
    >
    <nav class="space-x-2 text-sm">
      <a href="/" class="text-gray-700 hover:text-blue-700 transition"
        >Word Counter</a
      >
      <a
        href="/text-case-converter"
        class="text-gray-700 hover:text-blue-700 transition"
        >Text Case Converter</a
      >
      <a
        href="/remove-duplicate-lines"
        class="text-gray-700 hover:text-blue-700 transition"
        >Remove Duplicate Lines </a
      >
    </nav>
  </div>
</header>
